@model PositionInfo.Models.SpModels.PendingLeaves

<div class="col-sm-3">
    <div class="d--box">
        <h2>Total Leaves Left</h2>
        <h3>@Model.TotalLeavesLeft</h3>
    </div>
</div>
<div class="col-sm-3">
    <div class="d--box">
        <h2>Sick Leaves Left</h2>
        <h3>@Model.SickLeavesLeft</h3>
    </div>
</div>
<div class="col-sm-3">
    <div class="d--box">
        <h2>Casual Leaves Left</h2>
        <h3>@Model.CasualLeavesLeft</h3>
    </div>
</div>
<div class="col-sm-3">
    <div class="d--box">
        <h2>Earned Leaves Left</h2>
        <h3>@Model.PaidLeavesLeft</h3>
    </div>
</div>
<div class="col-sm-12">
    <div class="d--box">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
</div>
