@model PositionInfo.Models.LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Softprodigy-Timelog</title>
    <!-- Bootstrap core CSS -->

    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="icon" href="~/images/fav-SPIMAGE.png" sizes="16x16 32x32" type="image/png">
    <style>
        .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .btn {
            padding: 15px;
        }
    </style>
</head>
<body id="page-top">
    <!-- Navigation -->
    <div class="timelog--parent m-0">
        <main role="main-wrapper">
            <div class="text-center mt-5">
                <a class="logo" href=""><img src="~/images/sps-logo.png" alt="" /></a>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="mid--box p-0 row no-gutters">
                            <form method="post">
                                <div class="col-md-12 py-5 px-4 signUp">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex to--decHolder">
                                                <div class="to--dec text-center">
                                                    <h2>Sign In</h2>
                                                    <p>
                                                        Leave Reporting System
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="col-md-12 form-group">
                                            <label for="">User Name</label>
                                            <input asp-for="UserName" class="form-control" placeholder="Username" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="">PassWord</label>
                                            <input asp-for="Password" class="form-control" placeholder="Password" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <button type="submit" class="btn btn-block mt-0">SUBMIT</button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Bootstrap core JavaScript -->

    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="~/js/scrolling-nav.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>

