################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
LeaveManagement/bin/**
LeaveManagement/obj/**
LeaveManagement.DAL/bin/**
LeaveManagement.DAL/obj/**
