@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Softprodigy-Resource</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/scrolling-nav.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/js/scrolling-nav.js"></script>
            <script src="~/js/ckeditor/ckeditor.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
        </environment>*@
    <link rel="icon" href="~/images/fav-SPIMAGE.png" sizes="16x16 32x32" type="image/png">
</head>
<body id="page-top">
    <!-- Navigation -->
    <header id="mast-head">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-5 col-9">
                    <a class="menu" href="#"><img src="~/images/menu.png" alt=""></a><a href="">
                        <img class="logo" style="max-width:212px; margin-top:3px; position: relative;" src="~/images/sps-logo.png"
                             alt="" />
                    </a>
                </div>
                <div class="col-md-7 col-3 text-right top--right justify-content-end d-flex">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <img src="~/images/user.png" alt="user-image" class="img-circle img-inline">
                                <span>Hello @HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value !</span>
                            </a>
                            <ul class="dropdown-menu profile">
                                <li class="last">
                                    <a asp-controller="Account" asp-action="Logout">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboardHolder d-flex">

        <div class="toggle-strip">
        </div>

        <div class="side--bar">
            <ul>
                @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                {
                    @if (HttpContextAccessor.HttpContext.User.IsInRole("Admin") ||
                       (bool)(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Grade")?.Value.StartsWith("B")) ||
                       (HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Dept")?.Value == "BD") ||
                       (HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Dept")?.Value == "BAG"))
                    {
                        <li id="Admin_Dashboard">
                            <a asp-area="" asp-controller="Admin" asp-action="Index">
                                <i class="fa fa-dashboard"></i>
                                <span class="title">Admin Dashboard</span>
                            </a>
                        </li>
                        <li id="Position_form">
                            <a asp-area="" asp-controller="PositionInfo" asp-action="Index">
                                <i class="fa fa-list-alt"></i>
                                <span class="title">Employee List</span>
                            </a>
                        </li>
                    }
                    @if (HttpContextAccessor.HttpContext.User.IsInRole("Admin") ||
                      (bool)(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Grade")?.Value.StartsWith("B")))
                    {
                        <li id="PositionHR_form">
                            <a asp-area="" asp-controller="PositionHRInfo" asp-action="Index">
                                <i class="fa fa-clock-o"></i>
                                <span class="title">Position Info</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="timelog--parent">
            @RenderBody()
            <footer id="footer-area" class="d-flex justify-content-center">
                © 2010-2019 SoftProdigy All rights reserved.
            </footer>
        </div>
    </div>

    @* loader html part added on 1-feb-2019 *@
    <div style="display:none;" class="lds-wrapper">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    @* loader html ends *@
    <!-- Custom JavaScript for this theme -->
    <script>
        jQuery('.menu').click(function () {
            jQuery('.side--bar, .timelog--parent').toggleClass('menu-collapse');
        });
        $('.dropdown-toggle').click(function () {
            console.log('clicked');
            $('.dropdown .dropdown-menu').toggleClass('show');
        });

        $('.side--bar li').click(function () {
            $('.side--bar .active').removeClass('active');
            $(this).addClass('active');

        });
    </script>
</body>
</html>
