@model LeaveManagement.Models.SpModels.GetEmployeeLeavesStatus

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Leave</h4>
        </div>
        <input type="hidden" id="LeaveRowID" name="custId" value="@Model.RowID">
        <div class="modal-body">
            <div class="col-sm-6">
                <div class="d--box">
                    <label>Start Date</label>
                   
                    @Html.TextBoxFor(m => m.LeaveStartDate, null, new { @class = "form-control " })
                </div>     
                </div>
            <div class="col-sm-6">
                <div class="d--box">
                    <label>End Date</label>
                    @*@Html.TextBoxFor(m => m.LeaveEndDate, null, new { @class = "form-control" })*@

                    @Html.TextBoxFor(m => m.LeaveEndDate, null, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-sm-12">
                @*<div class="d--box">
                    <button>Save</button>
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="SaveEditData()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    //$(function () {
    //    $("#LeaveStartDate").click(function () {
          
    //        $(this).datepicker().datepicker("show")
    //            var selected = $(this).val();
    //            alert(selected);
            
    //    });
    //});
    $(function () {
        $("#LeaveStartDate").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function () {
                var selected = $(this).val();
               
                $('#LeaveStartDate').attr('value', selected)
                //alert($('#LeaveStartDate').val());
            }
        });
    });

    $(function () {
        $("#LeaveEndDate").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function () {
                var selected = $(this).val();
            
                $('#LeaveEndDate').attr('value', selected)
               // alert($('#LeaveEndDate').val());
            }
        });
    });

    function SaveEditData() {
       
        var model = {
            LeaveStartDate: $('#LeaveStartDate').attr('value'),
            LeaveEndDate: $('#LeaveEndDate').attr('value'),
            LeaveID: $('#LeaveRowID').val(),
        };
      
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveLeaveChangesBasedOnLeaveID", "Admin")',
            data: { updateLeaveData: model },
          //  contentType: "application/json; charset=utf-8",
            success: function (response) {           
                    location.reload(); 
                         
            },
            error: function (response) {
                //alert('some error has occured !!');
            }
        });
    }
      
    
</script>