@*@{
        ViewData["Title"] = "Index";
    }*@
@model LeaveManagement.Models.SpModels.DepartmentList

@{
    ViewData["Title"] = "Index";
}
<style>
    @@import 'https://code.highcharts.com/css/highcharts.css';

    #container {
        height: 400px;
        max-width: 800px;
        min-width: 320px;
        margin: 0 auto;
    }

    .highcharts-pie-series .highcharts-point {
        stroke: #EDE;
        stroke-width: 2px;
    }

    .highcharts-pie-series .highcharts-data-label-connector {
        stroke: silver;
        stroke-dasharray: 2, 2;
        stroke-width: 2px;
    }

    .Deptlists {
        padding: 0px 9px !important;
    }


    .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .form-control {
        margin: 0 auto !important;
        max-width: 484px !important;
        width: 100% !important;
    }

    .dot {
        height: 8px;
        width: 8px;
        background-color: #007bff;
        border-radius: 50%;
        display: inline-block;
    }

    .monthYear {
        font-style: oblique;
        font-weight: 800;
    }
</style>

<main id="admin-dashboard" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-6">
                        <div class="d--box">
                            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d--box">
                            <div id="ColumnChart3Dcontainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d--box">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <select aria-controls="dept-list" class="form-control Deptlists input-group-sm" asp-for="ID" asp-items="ViewBag.DepartmentsList" onchange="ColumnChart3D3DropDown(this.value)"></select>
                            </div>
                            <div id="containerWithDrpDown1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d--box">
                            <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <div class="monthYear">
                        <div id="Month"></div>
                        <div id="Year"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script>
    $(document).ready(function () {
        $('#Admin_Dashboard').addClass('active');
        //        PieChart();
        ColumnChart3D();
        PieChart1();

        ColumnChart3D2();
        ColumnChart3D3();

        var DeptID = $(".Deptlists").val();
        ColumnChart3D3DropDown(DeptID);
        CalculateCurrentMonthYear();
    });
    function PieChart() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/Top5Leave',
                success:
                    function (response) {
                        console.log(response);

                        Highcharts.chart('container', {
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Top 5 employees with Leaves Taken for Current Month'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: {point.y:.1f} ',
                                        style: {
                                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                            width:'10px'
                                        }
                                    }
                                }
                            },
                            series: [{
                                name: 'Leaves Taken',
                                colorByPoint: true,
                                data: response
                            }]
                        });
                        //Highcharts.chart('container', {
                        //    chart: {
                        //        type: 'pie',
                        //        options3d: {
                        //            enabled: true,
                        //            alpha: 45,
                        //            beta: 0
                        //        }
                        //    },
                        //    title: {
                        //        text: 'Top 5 employees with Leaves'
                        //    },
                        //    tooltip: {
                        //        pointFormat: '{series.name}: <b>{point.y:.1f}%</b>'
                        //    },
                        //    plotOptions: {
                        //        pie: {
                        //            allowPointSelect: true,
                        //            cursor: 'pointer',
                        //            depth: 35,
                        //            dataLabels: {
                        //                enabled: true,
                        //                format: '{point.name}'
                        //            }
                        //        }
                        //    },
                        //    series: [{
                        //        type: 'pie',
                        //        name: 'Leaves',
                        //        data: response
                        //    }]
                         //test
                        //});

                    }
            });
    }
    function ColumnChart3D() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/Top5Leave',
                success:
                    function (response) {
                        console.log(response);
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp.push(item.name);
                        }
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }

                        Highcharts.chart('Container1', {
                            chart: {
                                type: 'column',
                                options3d: {
                                    enabled: true,
                                    alpha: 10,
                                    beta: 25,
                                    depth: 70
                                }
                            },
                            title: {
                                text: 'Top 5 employees with Leaves'
                            },
                            subtitle: {
                                text: ''
                            },
                            plotOptions: {
                                column: {
                                    depth: 25
                                }
                            },
                            xAxis: {
                                categories: emp,
                                labels: {
                                    skew3d: true,
                                    style: {
                                        fontSize: '16px'
                                    }
                                }
                            },
                            yAxis: {
                                title: {
                                    text: null
                                }
                            },
                            series: [{
                                name: 'Leaves',
                                data: emp1
                            }]
                        });

                    }
            });

    }
    function PieChart1() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/Top5Leave',
                success:
                    function (response) {
                        console.log(response);

                        Highcharts.chart('container', {

                            chart: {
                                styledMode: true
                            },

                            title: {
                                text: 'Top 5 employees with Leaves Taken for Current Month'
                            },
                            plotOptions: {
                                pie: {
                                    dataLabels: {
                                        style: {
                                            width: '10000px'
                                        }
                                    }
                                }
                            },

                            xAxis: {
                                categories: response.name
                            },

                            series: [{
                                name: 'Leaves Taken',
                                type: 'pie',
                                allowPointSelect: true,
                                keys: ['name', 'y', 'selected', 'sliced'],
                                data: response,
                                size: 200,
                                showInLegend: true
                            }]
                        });



                    }
            });
    }

    function ColumnChart3D2() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/TopLeaveByDept',
                success:
                    function (response) {
                        console.log(response);
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp.push(item.name);
                        }
                        console.log('emp ', emp);
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }



                        var chart = Highcharts.chart('ColumnChart3Dcontainer', {

                            title: {
                                text: 'Top Employees with Leaves Taken for the Current Year'
                            },

                            subtitle: {
                                text: 'Department wise top emplyoees with leaves taken'
                            },

                            xAxis: {
                                categories: emp //['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                            },

                            series: [{
                                name: 'Leaves',
                                type: 'column',
                                colorByPoint: true,
                                data: emp1,
                                showInLegend: false
                            }]

                        });







                    }
            });

    }


    function ColumnChart3D3() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/TopLeaveDept',
                success:
                    function (response) {

                        console.log(response);
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            var data1 = {
                                "name": item.name,
                                "y": item.y,
                                "drilldown": item.name
                            }
                            emp.push(item.name);
                            // emp.push(data1);
                        }
                        console.log('emp ', emp);
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }



                        var chart = Highcharts.chart('container2', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                }
                            },
                            title: {
                                text: 'Department Wise Leave Status for Current Month'
                            },
                            subtitle: {
                                // text: '3D donut in Highcharts'
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: 100,
                                    depth: 45
                                }
                            },
                            series: [{
                                name: 'Leaves',
                                data: response,
                            }]
                        });

                    }
            });

    }

    function ColumnChart3D3DropDown(DepId) {

        let url = '/Admin/Top5EmployeeByDepartment' + '?DepId=' + DepId;
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: url,
                data: DepId,
                success:
                    function (response) {
                        console.log(response);
                        if (response.length == 0) {
                            $('#containerWithDrpDown1').empty();
                            $('#containerWithDrpDown1').append('<h6>No Record found</h6>');
                            return;
                        }
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            var data1 = {
                                "name": item.name,
                                "y": item.y,
                                "drilldown": item.name
                            }
                            emp.push(item.name);
                            // emp.push(data1);
                        }
                        console.log('emp ', emp);
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }



                        var chart = Highcharts.chart('containerWithDrpDown1', {

                            title: {
                                text: 'Top 5 Employees per Department Leaves Taken For Current Year'
                            },
                            chart: {
                                inverted: true,
                                polar: false
                            },
                            subtitle: {
                                // text: 'Plain'
                            },

                            xAxis: {
                                categories: emp
                            },

                            series: [{
                                name: 'Leaves',
                                type: 'column',
                                colorByPoint: true,
                                data: emp1,

                                showInLegend: false
                            }]

                        });


                        $('#plain').click(function () {
                            chart.update({
                                chart: {
                                    inverted: false,
                                    polar: false
                                },
                                subtitle: {
                                    text: 'Plain'
                                }
                            });
                        });

                        $('#inverted').click(function () {
                            chart.update({
                                chart: {
                                    inverted: true,
                                    polar: false
                                },
                                subtitle: {
                                    text: 'Inverted'
                                }
                            });
                        });

                        $('#polar').click(function () {
                            chart.update({
                                chart: {
                                    inverted: false,
                                    polar: true
                                },
                                subtitle: {
                                    text: 'Polar'
                                }
                            });
                        });




                    }
            });

    }

    function CalculateCurrentMonthYear() {

        var month = new Array();
        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Mar";
        month[3] = "Apr";
        month[4] = "May";
        month[5] = "Jun";
        month[6] = "Jul";
        month[7] = "Aug";
        month[8] = "Sep";
        month[9] = "Oct";
        month[10] = "Nov";
        month[11] = "Dec";

        var d = new Date();
        var Current_Year = d.getFullYear();
        var Pervious_Year = d.getFullYear();
        var FromMonth = "";
        var ToMonth = "";
        if (d.getDay() >= 15) {
            FromMonth = month[d.getMonth()];
            ToMonth = month[d.getMonth() + 1];
        }
        else {
            FromMonth = month[d.getMonth() - 1];
            ToMonth = month[d.getMonth()];
        }
        if (FromMonth == "Dec") {
            Pervious_Year = d.getFullYear() - 1;
        }
        var FromYear = d.getFullYear() - 1;
        var ToYear = d.getFullYear();
        if (d.getMonth() == 3 && d.getDate() >= 16) {
            FromYear = d.getFullYear();
            ToYear = d.getFullYear() + 1;
        }
        if (d.getMonth() > 3) {
            FromYear = d.getFullYear();
            ToYear = d.getFullYear() + 1;
        }

        $("#Month").append('<span class="dot"></span> Current Month is from 16 ' + FromMonth + ' ' + Pervious_Year +' to 15 ' + ToMonth + ' ' + Current_Year);
        $("#Year").append('<span class="dot"></span> Current Year is from 16 Apr ' + FromYear + ' to 15 Apr ' + ToYear);
    }


</script>