@model LeaveManagement.Models.SpModels.DepartmentList
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}
<style>
    @@import 'https://code.highcharts.com/css/highcharts.css';

    #container {
        height: 400px;
        max-width: 800px;
        min-width: 320px;
        margin: 0 auto;
    }

    .highcharts-pie-series .highcharts-point {
        stroke: #EDE;
        stroke-width: 2px;
    }

    .highcharts-pie-series .highcharts-data-label-connector {
        stroke: silver;
        stroke-dasharray: 2, 2;
        stroke-width: 2px;
    }

    .Deptlists {
        padding: 0px 9px !important;
    }


    .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .form-control {
        margin: 0 auto !important;
        max-width: 484px !important;
        width: 100% !important;
    }

    .dot {
        height: 8px;
        width: 8px;
        background-color: #007bff;
        border-radius: 50%;
        display: inline-block;
    }

    .monthYear {
        font-style: oblique;
        font-weight: 800;
    }
</style>

<main id="admin-dashboard" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    @if (HttpContextAccessor.HttpContext.User.IsInRole("Admin") ||
                        (HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Dept")?.Value == "BD") ||
                        (HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Dept")?.Value == "BAG") ||
                        (bool)(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Grade")?.Value.StartsWith("B")))
                    {
                        <div class="col-sm-6">
                            <div class="d--box">
                                <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d--box">
                                <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                    }
                    @if (HttpContextAccessor.HttpContext.User.IsInRole("Admin") ||
                        (bool)(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Grade")?.Value.StartsWith("B")))
                    {
                        <div class="col-sm-6">
                            <div class="d--box">
                                <div id="container3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d--box">
                                <div id="container4" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script>
    $(document).ready(function () {
        $('#Admin_Dashboard').addClass('active');
        PartialAvailable();
        FullAvailable();
        OpenPosition();
        ClosedPosition();
    });
    function PartialAvailable() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/PartialAvailable',
                success:
                    function (response) {
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            var data1 = {
                                "name": item.name,
                                "y": item.y,
                                "drilldown": item.name
                            }
                            emp.push(item.name);
                        }
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }
                        var chart = Highcharts.chart('container2', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                }
                            },
                            title: {
                                text: 'Department Wise Partial Available Resource Status'
                            },
                            subtitle: {
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: 100,
                                    depth: 45
                                }
                            },
                            series: [{
                                name: 'Available',
                                data: response,
                            }]
                        });

                    }
            });

    }

    function FullAvailable() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/FullAvailable',
                success:
                    function (response) {
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            var data1 = {
                                "name": item.name,
                                "y": item.y,
                                "drilldown": item.name
                            }
                            emp.push(item.name);
                        }
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }
                        var chart = Highcharts.chart('container', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                }
                            },
                            title: {
                                text: 'Department Wise Fully Available Resource Status'
                            },
                            subtitle: {
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: 100,
                                    depth: 45
                                }
                            },
                            series: [{
                                name: 'Available',
                                data: response,
                            }]
                        });

                    }
            });

    }

    function OpenPosition() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/OpenPosition',
                success:
                    function (response) {
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            var data1 = {
                                "name": item.name,
                                "y": item.y,
                                "drilldown": item.name
                            }
                            emp.push(item.name);
                        }
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }
                        var chart = Highcharts.chart('container3', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                }
                            },
                            title: {
                                text: 'Department Wise Open positions Status'
                            },
                            subtitle: {
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: 100,
                                    depth: 45
                                }
                            },
                            series: [{
                                name: 'Open',
                                data: response,
                            }]
                        });

                    }
            });

    }

    function ClosedPosition() {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Admin/ClosedPosition',
                success:
                    function (response) {
                        var emp = [];
                        for (var prop in response) {
                            var item = response[prop];
                            var data1 = {
                                "name": item.name,
                                "y": item.y,
                                "drilldown": item.name
                            }
                            emp.push(item.name);
                        }
                        var emp1 = [];
                        for (var prop in response) {
                            var item = response[prop];
                            emp1.push(item.y);
                        }
                        var chart = Highcharts.chart('container4', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                }
                            },
                            title: {
                                text: 'Department Wise Closed Positions Status'
                            },
                            subtitle: {
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: 100,
                                    depth: 45
                                }
                            },
                            series: [{
                                name: 'Closed',
                                data: response,
                            }]
                        });

                    }
            });

    }
</script>