@model IEnumerable<LeaveManagement.Models.SpModels.LateComing_Details>
<style>
    #container {
        height: 400px;
        max-width: 800px;
        min-width: 320px;
        margin: 0 auto;
    }
    /*tabbing design start here on 1-feb-2017*/
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .leave-status-tabular h1 {
        color: #ccc;
        text-align: center;
    }

    .leave-status-tabular a {
        color: #ccc;
        text-decoration: none;
        outline: none;
    }

    .tab_container {
        width: 90%;
        margin: 0 auto;
        padding-top: 0px;
        position: relative;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }

    .leave-status-tabular input, .leave-status-tabular section {
        clear: both;
        padding-top: 10px;
        display: none;
    }

    .leave-status-tabular label {
        font-weight: 700;
        font-size: 18px;
        display: block;
        float: left;
        width: 20%;
        padding: 5px;
        color: #757575;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        background: #f0f0f0;
        height: 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4,
    #tab5:checked ~ #content5 {
        display: block;
        padding: 20px;
        background: #fff;
        color: #999;
        border-bottom: 2px solid #f0f0f0;
    }

    .tab_container .tab-content p,
    .tab_container .tab-content h3 {
        -webkit-animation: fadeInScale 0.7s ease-in-out;
        -moz-animation: fadeInScale 0.7s ease-in-out;
        animation: fadeInScale 0.7s ease-in-out;
    }

    .tab_container .tab-content h3 {
        text-align: center;
    }

    .tab_container [id^="tab"]:checked + label {
        background: #fff;
        box-shadow: inset 0 3px #0CE;
    }

        .tab_container [id^="tab"]:checked + label .fa {
            color: #0CE;
        }

    label .fa {
        font-size: 1.3em;
        margin: 0 0.4em 0 0;
    }
    #lateComingHistory .dataTable thead tr {
        background: #28bdf0;
        color: #fff;
    }
    #LessWorkingHoursHistory .dataTable thead tr {
        background: #28bdf0;
        color: #fff;

    }
    .leave-status-tabular .tab_container span {       
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize;
    }
    .tab-content label {
        margin: 0;
    }
    .table thead th {
        vertical-align: top;
        word-break: break-word;
    }
    /*Media query*/
    @@media only screen and (max-width: 930px) {
        label span {
            font-size: 14px;
        }

        label .fa {
            font-size: 13px;
        }
    }

    @@media only screen and (max-width: 768px) {

        label .fa {
            font-size: 16px;
        }

        .tab_container {
            width: 98%;
        }

        .leave-status-tabular label {
            width: 44%;
        }
    }
    /*Content Animation*/
    @@keyframes fadeInScale {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
    /*tabbing design ends*/

    .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
        text-align: center
    }

    .btn-primary {
        cursor: pointer;
    }


    /* 16-May-2019 */

    label, #Log-List td, #Log-List2 td, section#content1 select option, section#content1 h5, .dataTables_info, #Log-List_previous, #Log-List2_previous, #lessWorkingHours_previous,
    section#content2 select option, #lessWorkingHours td, #lessWorkingHours_next, #Log-List_next, #Log-List2_next {
        color: black !important;
    }
</style>
<main id="LeaveSummary" role="main-wrapper">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-12">
                        <div class="date-wrapper">
                            <div class="leave-status-tabular">
                                <div class="container">
                                    <div class="tab_container">
                                        <input id="tab1" type="radio" name="tabs" checked>
                                        <label for="tab1"><span>Late Coming</span></label>

                                        <input id="tab2" type="radio" name="tabs">
                                        <label for="tab2"><span>Less Working Hour</span></label>

                                        <section id="content1" class="tab-content">

                                            <div class="row">
                                                <div class="large-6 columns col-sm-4 mb-2 d-flex">

                                                    <label for="start">Start Date</label>
                                                    @{
                                                        if (ViewBag.StartDate != null)
                                                        {
                                                            <input value="@ViewBag.StartDate" id="start" type="date" /><br />

                                                        }
                                                        else
                                                        {
                                                            <input id="start" type="date" /><br />
                                                        }

                                                    }

                                                </div>
                                                <div class="large-6 columns col-sm-4 mb-2 d-flex">
                                                    <label for="end">End Date</label>
                                                    @{
                                                        if (ViewBag.EndDate != null)
                                                        {
                                                            <input value="@ViewBag.EndDate" id="end" type="date" /><br />

                                                        }
                                                        else
                                                        {
                                                            <input id="end" type="date" /><br />

                                                        }
                                                    }
                                                </div>
                                                <div class="col-sm-4">
                                                    <button class="btn-primary" id="filter" onclick="AddDateFilter();">Search</button>
                                                    <button id="clearFilter" class="button btn-primary" onclick="ClearDateFilter();">Clear Filter</button>
                                                </div>
                                            </div>
                                            <h5>Late Comers Detail</h5>
                                            <div class="row col-sm-12 EmpTableList">
                                                <div id="lateComingHistory">
                                                    <partial name="_LateComingHistory" />
                                                </div>
                                            </div>
                                        </section>

                                        <section id="content2" class="tab-content">
                                            <div class="row">
                                                <div class="large-6 columns col-sm-4 mb-2 d-flex">

                                                    <label for="start2">Start Date</label>
                                                    @{
                                                        if (ViewBag.StartDate != null)
                                                        {
                                                            <input value="@ViewBag.StartDate" id="start2" type="date" /><br />

                                                        }
                                                        else
                                                        {
                                                            <input id="start2" type="date" /><br />
                                                        }

                                                    }

                                                </div>
                                                <div class="large-6 columns col-sm-4 mb-2 d-flex">
                                                    <label for="end2">End Date</label>
                                                    @{
                                                        if (ViewBag.EndDate != null)
                                                        {
                                                            <input value="@ViewBag.EndDate" id="end2" type="date" /><br />

                                                        }
                                                        else
                                                        {
                                                            <input id="end2" type="date" /><br />

                                                        }
                                                    }
                                                </div>
                                                <div class="col-sm-4">
                                                    <button class="btn-primary" id="filter" onclick="AddDateFilterLessHours();">Search</button>
                                                    <button id="clearFilter" class="button btn-primary" onclick="ClearDateFilterLessHours();">Clear Filter</button>
                                                </div>
                                            </div>
                                            <h5 style="color:black">Less Working Hours Detail</h5>
                                            <div class="row col-sm-12 LessWorkingHoursList">
                                                <div id="LessWorkingHoursHistory">
                                                </div>
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    $(document).ready(function () {       
        $('#EmployeLateComing_List').addClass('active');

        $('#start').change(function () {
            $('#end').val("");
            var st = $('#start').val();
            $("#end").attr("min", st);
        });

        $("#end").keyup(function () {

            var st = $('#start').val();
            if (st != undefined && st != "") {
                if (st > $("#end").val()) { $("#end").val(st); }
            }
        });
        $('#end').click(function () {

            var st = $('#start').val();
            if (st != undefined && st != "") {
                if (st > $("#end").val()) { $("#end").val(st); }
            }
        });

        //Filters for less working hours
        $('#start2').change(function () {
            $('#end2').val("");
            var st = $('#start2').val();
            $("#end2").attr("min", st);
        });

        $("#end2").keyup(function ()
        {
            var st = $('#start2').val();
            if (st != undefined && st != "") {
                if (st > $("#end2").val()) { $("#end2").val(st); }
            }
        });
        $('#end2').click(function ()
        {
            var st = $('#start2').val();
            if (st != undefined && st != "") {
                if (st > $("#end2").val()) { $("#end2").val(st); }
            }
        });

        $('#tab2').click(function () {
            ClearDateFilterLessHours();
        });
        $('#tab1').click(function () {
            ClearDateFilter();
        });
        LessWorkingHoursList();
    });


    function AddDateFilter() {
        AllLateComersList();
    }
    function ClearDateFilter() {
        $('#start').val("");
        $('#end').val("");
        $('#end').removeAttr("min");
        AllLateComersList();
    }
    function AllLateComersList()
    {        
        $('.lds-wrapper').show();
        var First = 1;
        var StartDate = $('#start').val();
        var EndDate = $('#end').val();
        if ((StartDate == undefined && EndDate == undefined) || (StartDate == "" && EndDate == "")) {
            First = 2;
        }
        if (First == 1) {
            $('.lds-wrapper').show();
            if (StartDate == undefined || EndDate == undefined || StartDate == "" || EndDate == "") {
                $('.lds-wrapper').hide();
                alert("Please select Start Date and End Date!");
                return;
            }
        }

        if (StartDate == undefined) {
            StartDate = null;
        }
        if (EndDate == undefined) {
            EndDate = null;
        }
        $.ajax(
            {
                type: 'GET',
                //dataType: 'JSON',
                url: '/EmployeeDailyLog/LateComingHistory?StartDate=' + StartDate + '&EndDate=' + EndDate,
                success: function (response) {
                    $('#lateComingHistory').html("");
                    $("#lateComingHistory").html(response);
                    $('.lds-wrapper').hide();
                }
            });
        
    }

    //date range filter for Less working hours

    function AddDateFilterLessHours() {
        LessWorkingHoursList();
    }
    function ClearDateFilterLessHours() {
        $('#start2').val("");
        $('#end2').val("");
        $('#end2').removeAttr("min");
        LessWorkingHoursList();
    }
    function LessWorkingHoursList() {
      
        $('.lds-wrapper').show();
        var First = 1;
        var StartDate = $('#start2').val();
        var EndDate = $('#end2').val();
        if ((StartDate == undefined && EndDate == undefined) || (StartDate == "" && EndDate == "")) {
            First = 2;
        }
        if (First == 1) {
            $('.lds-wrapper').show();
            if (StartDate == undefined || EndDate == undefined || StartDate == "" || EndDate == "") {
                $('.lds-wrapper').hide();
                alert("Please select Start Date and End Date!");
                return;
            }
        }

        if (StartDate == undefined || StartDate == "") {
            StartDate = null;
        }
        if (EndDate == undefined || EndDate == "") {
            EndDate = null;
        }
        $.ajax(
            {
                type: 'GET',
                //dataType: 'JSON',
                url: '/EmployeeDailyLog/LessWorkingHoursHistory?StartDate=' + StartDate + '&EndDate=' + EndDate,
                success: function (response) {
                    $('#LessWorkingHoursHistory').html("");
                    $("#LessWorkingHoursHistory").html(response);
                    $('.lds-wrapper').hide();
                }
            });
       
    }

</script>